.header {
  height: 70px;
  display: flex;
  background-color: rgb(43, 41, 41);
}

.button {
  position: absolute;
  right: 80px;
  top: 35px;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3743ac;
  color: rgb(253, 253, 253);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover {
  background-color: rgb(230, 47, 47);
}
.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
